@charset "UTF-8";
:root {
  --bs-blue: #007bff;
  --bs-indigo: #6610f2;
  --bs-purple: #696cff;
  --bs-pink: #e83e8c;
  --bs-red: #ff3e1d;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffab00;
  --bs-green: #71dd37;
  --bs-teal: #20c997;
  --bs-cyan: #03c3ec;
  --bs-white: #fff;
  --bs-gray: rgba(67, 89, 113, 0.6);
  --bs-gray-dark: rgba(67, 89, 113, 0.8);
  --bs-gray-25: rgba(67, 89, 113, 0.025);
  --bs-gray-50: rgba(67, 89, 113, 0.05);
  --bs-primary: #696cff;
  --bs-secondary: #8592a3;
  --bs-success: #71dd37;
  --bs-info: #03c3ec;
  --bs-warning: #ffab00;
  --bs-danger: #ff3e1d;
  --bs-light: #fcfdfd;
  --bs-dark: #233446;
  --bs-gray: rgba(67, 89, 113, 0.1);
  --bs-primary-rgb: 105, 108, 255;
  --bs-secondary-rgb: 133, 146, 163;
  --bs-success-rgb: 113, 221, 55;
  --bs-info-rgb: 3, 195, 236;
  --bs-warning-rgb: 255, 171, 0;
  --bs-danger-rgb: 255, 62, 29;
  --bs-light-rgb: 252, 253, 253;
  --bs-dark-rgb: 35, 52, 70;
  --bs-gray-rgb: 67, 89, 113;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 67, 89, 113;
  --bs-body-color-rgb: 105, 122, 141;
  --bs-body-bg-rgb: 245, 245, 249;
  --bs-font-sans-serif: "Pretendard Variable", Public Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  --bs-font-monospace: "Pretendard Variable", SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
  --bs-root-font-size: 16px;
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 0.9375rem;
  --bs-body-font-weight: 550;
  --bs-body-line-height: 1.53;
  /* --bs-body-color: #697a8d; */
  --bs-body-bg: #f5f5f9;
}

:root {
    font-size: var(--bs-root-font-size);
}

@font-face {
	font-family: 'Pretendard Variable';
	font-weight: 45 920;
	font-style: normal;
	font-display: swap;
	src: url('../font/PretendardVariable.woff2') format('woff2-variations');
}

@media (min-width: 601px) {
    /* 1025px 이상의 화면에 적용될 스타일 */
    html {
      max-width: 600px;
      margin: 0 auto; /* 중앙 정렬을 위해 사용 */
    }
}


body {
    font-family: Pretendard Variable;
    color: var(--bs-body-color);
    min-height: 100vh;
    margin: 0 auto;
    padding-top: 10px;
}

a {
    text-decoration: none; /* 텍스트에 밑줄 제거 */
    color: inherit; /* 링크의 색상을 상위 요소의 색상으로 상속 */
    cursor: pointer; /* 기본 커서 설정 (선택 사항) */
}

.topBar {
    /* position: -webkit-sticky;
    position: sticky; */
    top: 0;
    z-index: 1020;
    padding: 8px;
    /* background-color: #ffffff; */
    width: 100%;
}

.textGrey {
    color: #484848;
}

.avatar {
    width: 45px;
}

.mainInfoDiv {
    height: 120px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 18px;
}

.mainGoalDiv {
    height: 95px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 18px;
    border: 2px solid #7a8cff;
    background-color: #FFF;
}

.mainBtn {
    height: 135px;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 22px;
}

.normalBtn {
    background: #696cff;
    color: #FFF;
    width: 100%;
    height: 50px;
    border-radius: 18px;
}

.mainBanner {
    background: #7a8cff;
    color: #FFFFFF;
}

.mainList {
    border-radius: 18px;
    height: 70px;
    background-color: #FFF;
    
}

.botFixedBarWrapper {
    
    bottom: 0px;
    height: 100vh;
    overflow: hidden;
}

.botFixedBar {
    position: fixed;
    margin-top: 100px;
    bottom: 0px;
    width: 100%;
    height: 65px;
    background-color: #ffffff;
    padding: 10px;
    text-align: center;
    
    border-top-left-radius: 22px; /* 상단 좌측 모서리에만 반경을 적용 */
    border-top-right-radius: 22px; /* 상단 우측 모서리에만 반경을 적용 */
}

@media (min-width: 600px) {
    /* 1025px 이상의 화면에 적용될 스타일 */
    .botFixedBar {
        position: fixed;
        margin-top: 100px;
        bottom: 0px;
        width: 600px;
        height: 60px;
        background-color: #ffffff;
        padding: 10px;
        text-align: center;
        
        border-top-left-radius: 22px; /* 상단 좌측 모서리에만 반경을 적용 */
        border-top-right-radius: 22px; /* 상단 우측 모서리에만 반경을 적용 */
    }
}

.botFixedBar .container {
    max-width: 425px;
    width: 100%;
}

.billUpload {
    /* background: #9b7aff; */
    height: 70px;
    border: 2px dashed #9b7aff;
    border-radius: 22px;
    margin-bottom: 10px;
}




/* 내역-uselist css */
.listbody{
    width: 100%;
}

.searchform{
    width: 100%;
    margin-top: 1em;
    display: flex;
}

.form-check {
    width: 7em;
    display: grid;
    padding: 0.2em;
}

.search-box{
    background-color: white;
    width: 80%;
    height: 40px;
    padding: 10px;
    border: 1px solid rgb(53, 66, 250);
    padding-left: 20px;
    margin-left: 42px;
    margin-top: 10px;
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    font-size: 16px;
    line-height: 10px;
}

.search-btn{
    color: rgb(53, 52, 52);
    float: right;
    border-radius: 50%;
    background: white;
    border: none;
    display: flex;
    font-size: 16px;
    width: 30px;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.listform{
    width: 90%;  
    align-items: center;
    margin: auto;
    margin-left: 2em;
    margin-top: 4em;
}

.icon{
    width: 40%;
}

.detail{
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-gap: 20%;
}

.list .date{
    width: 20%;
}

.list .store{
    width: 50%;
}

.list .price{
    width: 30%;
}




/* 내역-uselist css */
.listbody {
    width: 100%;
}

.search-box {
    background-color: white;
    width: 75%;
    height: 3em;
    padding: 0.5em;
    border: 1px solid rgb(53, 66, 250);
    margin: auto;
    margin-top: 3em;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0px;
    line-height: 2em;
    width: calc(100% - 2.5em); 
}

.search-btn {
    color: rgb(53, 52, 52);
    float: right;
    border-radius: 50%;
    background: white;
    border: none;
    display: flex;
    width: 2em;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.search-form {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    padding-left: 0.5em;
    padding-top: 1em;
    margin: auto;
}

.form-check {
    display: grid;
    padding: 0.3em;
    width: 9em;
}

.form-check-input.btn-check:not(:checked) + .btn-primary {
    background-color: #959595; 
    border-color: #959595;
}

.form-check-input.btn-check:checked + .btn-primary {
    background-color: #007bff;
}

.listform {
    width: 90%;
    align-items: center;
    margin: auto;
    margin-top: 2em;
}

.icon {
    width: 40%;
}

.detail {
    display: grid;
    /* grid-template-columns: 1fr 2fr 1fr; */
    grid-template-columns: 8ch 22ch 10ch;
    grid-gap: 1em;
}

.list .date {
    width: 20%;
}

.list .store {
    width: 50%;
}

.list .price {
    width: 30%;
}

.memo{
    padding-top: 0.8em;
    padding-bottom: 0.5em;
}


/*캘린더*/
.input-container {
    position: relative;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-box {
    flex-grow: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-tools {
    display: flex;
    align-items: center;
}

.input-group-tools .option {
    background: transparent;
    border: none;
    cursor: pointer;
    margin-left: 5px;
}

.calendar {
    width: 100%;
    max-width: 600px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: none; /* Initially hidden */
    position: absolute;
    top: 60px;
    z-index: 1000;
}

.weekdays, .days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    text-align: center;
}

.weekdays {
    background: #f0f0f0;
    font-weight: bold;
}

.days div {
    padding: 20px;
    cursor: pointer;
    border: 1px solid #f0f0f0;
}

.days div:hover {
    background: #e0e0e0;
}

.days .selected {
    background: #007BFF;
    color: white;
}

.days .range {
    background: #d0e6ff;
}

@media (max-width: 600px) {
    .header h1 {
        font-size: 20px;
    }
    .days div {
        padding: 10px;
    }
}




 
.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid #d9dee3;
    border-radius: 0.5rem;
}

.card-body {
    flex: 1 1 auto;
    padding: 1.5rem 1.5rem;
  }
  
  .card-title {
    margin-bottom: 0.875rem;
  }
  
  .card-subtitle {
    margin-top: -0.4375rem;
    margin-bottom: 0;
  }

.centered-title {
    text-align: center;
}

.password-input-container {
position: relative;
align-items: center;
margin-bottom: 20px;
}

#passwordToggleIcon {
position: absolute;
right: 10px;
top: 70%;
transform: translateY(-50%);
cursor: pointer;
color: #888;
}

.form-group {
margin-bottom: 20px;
}

#confirmPasswordToggleIcon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}