.form-group {
    margin-bottom: 20px;
    }

.password-input-container {
    position: relative;
    align-items: center;
    margin-bottom: 20px;
}

#passwordToggleIcon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}

#confirmPasswordToggleIcon {
    position: absolute;
    right: 10px;
    top: 70%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
}