.space{
    padding-top: 4em;
}

.btnmiddle{
  width: 90%;
  text-align: center;
  margin: 0 auto;
}

p{
  font-size: 1.3em;
}
.custombtn {
  width: 25em;
  height: 13em;
  margin: 2em;
  color: #000000;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(0, 0, 0, 0.1);
  outline: none;
}
.custom1{
  position: relative;
  display: inline-block;
  background: transparent;
  background-color: white;
  border-color: gray ;
  border-radius: 5px;
  font-weight: 500;
  outline: none;
}

/*btn-3*/
.btn-3 {
  cursor: pointer;
  background-color: #f0ecfc;
  background-image: linear-gradient(315deg, #04e0f8 0%, #97a4eb 70%);
  line-height: 1em;
  padding: 0;
  border: none;
}
.btn-3 span {
  position: relative;
  display: block;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 1em;
  top: 0;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background-image: linear-gradient(315deg, #97a4eb 0%, #04e0f8 70%);
  border-radius: 5px;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-3:hover{
  background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 p{
  font-weight: 900;
}
.btn-3 p:before,
.btn-3 p:after {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.3s ease;
}
.btn-3 p:before {
  width: 2px;
  height: 0%;
}
.btn-3 p:after {
  width: 0%;
  height: 2px;
}
.btn-3 p:hover:before {
  height: 100%;
}
.btn-3 p:hover:after {
  width: 100%;
}


/*list table*/
.list_section{
  width: 40vmax;
  padding-left: 8.5em;
}
table{
  width:100%;
  table-layout: fixed;
}
.list-header{
  background-color: rgba(117, 206, 250, 0.3);
 }
.list-content{
  height:40em;
  overflow-x:auto;
  margin-top: 0px;
  border: 1px solid rgba(8, 8, 8, 0.718);
}
th{
  padding: 20px 15px;
  text-align: left;
  font-weight: 500;
  font-size: 12px;
  color: #000000;
  text-transform: uppercase;
}
td{
  padding: 15px;
  text-align: left;
  vertical-align:middle;
  font-weight: 300;
  font-size: 12px;
  color: #000000;
  border-bottom: solid 1px rgba(110, 110, 110, 0.389);
}


/*praph section*/
.graph_section{
  width: 25vmax;
  padding-left: 3em;
  position: static;
}

.graph{
  height: 40em;
}

.graph_content{
  height: 30em;
}

.gtable_head{
  height: 3em;
}

.gtable_body{
  height: 20em;
}







/* text styles */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
  background: -webkit-linear-gradient(left, #000000, #000000);
  background: linear-gradient(to right, #25c48200, #03e9fe00);
  font-family: 'Roboto', sans-serif;
}
section{
  margin: 50px;
}


/* scroll*/
::-webkit-scrollbar {
    width: 6px;
} 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}
